table {
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto; /* 将表格水平居中 */
    table-layout: fixed;
}
button {
    padding: 10px 20px; /* 设置内边距 */
    cursor: pointer; /* 显示光标为手型 */
    border-radius: 12px; /* 设置按钮的边角为圆角 */
    margin-left: 500px;
}

button:hover {
    background-color: #8a8383; /* 设置悬停时的背景颜色 */
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}