body {
    margin: 0;
    height: 100vh;
}


.context-Line {
    display: flex;
    flex-direction: column; /* 子元素垂直排列 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 100vh;
}


.container {
    height: 90%;
    width: 90%;
    border: 0;
    overflow: auto;
    display: flex;
    flex-direction: column; /* 设置子元素纵向排列 */
    justify-content: center; /* 在垂直方向上居中显示子元素 */
}


.item {
    width: 100%;
}


/* .head {
    background-image: linear-gradient(to right, rgb(220, 234, 131), rgb(208, 122, 196), rgb(20, 202, 71));
} */


.body {
    background-color: blanchedalmond;
}