body {
    margin: 0;
}


#root {
    display: flex;
	flex-direction: column;
    height: 100%;
}


main {
    width: 90%;
    height: 90%;
    display: flex;
    position: fixed;
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
}


.line-show,
.line-ifm {
    width: 100%;
    height: 100%;
}


.line-show {
    position: absolute;
    display: none;
}


.workplace {
    width: 100%;
    height: 100%;
    display: flex;
}


.mainplace {
    width: 70%;
    height: 100%;
    display: flex;
}


.dragplace {
    height: 100%;
    width: 50%;
    background-image: url(../images/screen.png);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: cover;
}


.context {
    width: 27%;
    height: 100%;
    display: flex;
}


.hr {
    width: 3%;
    height: 100%;
    display: flex;
    align-items: center;
}


.divid {
    height: 90%;
    width: 5%;
    color: black;
    margin:0 auto;
    border: 0;
    background: #333;
    background-image: linear-gradient(to bottom, #cca6ee, #fbc2d1, #d7a6ee);
}


.context-ifm {
    border: 0;
    width: 100%;
}


.bottom {
    bottom: 0;
    width: 90%;
    height: 10%;
    display: flex;
    position: fixed;
    border: 1px solid black;
}


nav.container {
    width: 100%;
    display: flex;
    align-items: center;
}


.fwbtn-container {
    position: absolute;
    width: 90%;
    left: 5%;
}


.right {
    right: 0;
    width: 10%;
    height: 100%;
    position: fixed;
    border: 1px solid black;
}


.dbtn {
    text-align: center;
}


.bbtn {
    position: relative;
    top: 5px;
    border-radius: 5px;
    margin: 5%;
}


.bbtn:hover {
    background-color: #8a8383; /* 设置悬停时的背景颜色 */
}