.item {
    width: 100%;
}

.item-name {
    height: 25px;
    width: 100%;
    display:flex;
    align-items: center;
    margin-top: 15px;   
}

.title-span {
    margin-left: 2%;
    font-size: smaller; 
    font-weight: bold;
    width: 25%;
}

.input, 
.optionbox,
.gradeinput {
    margin-left: 10%;
    height: 100%;
    width: 55%;
}

.photo-remark,
.video-remark,
.audio-remark,
.question-context{
    margin-left: 10%;
    width: 55%;
    height: 75px;
    resize: none;
}
